.MuiInputLabel-root {
    font-size: 2rem !important;
}

.MuiInput-input {
    padding: 20px 0 5px !important;
}
.MuiTouchRipple-root  {
    position: static !important;
}

.inputAuth{
    width: 100% !important;
    margin-bottom: 30px !important;
    margin-top: 30px !important;
}