.textInputQuestion label{
    font-size: 24px !important;
}

.textInputQuestion {
    width: 50% !important;
    margin: 20px 0 !important;
}

.textInputQuestion input{
    height: 30px !important;

}

.FormInput {
    margin: 20px 0 !important;
    width: 50%;
    /* flex-direction: row !important; */
}
.FormInput .MuiInput-root input{
    font-size: 18px !important;
    padding-top: 0px  !important;
    padding-bottom: 0px  !important;
    /* margin-bottom: 10px !important; */
}
.FormInput label {
    font-size: 28px !important;
}
.FormInput .InputQuestion  {
    width: 100%;
}

.answerForm {
    margin: 20px 0;
}
.InputQuestion {
    padding: 10px 0px 10px 10px;
    width: 50%;
    margin-right: 20px;
    font-size: 18px;
}
.CheckboxQuestion {
    width: 25px;
    height: 25px;
}

.modal__question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    background-color: #FFF;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 0 !important;
    padding: 32px !important;
    border-radius: 20px;
}